<h2>Ajouter une Allergie au patient</h2>
<div>
    <label>Dossier :{{dossierMedical.idDos}}</label>

</div>

<div>
    <label>Designation :</label>
    <input [(ngModel)]="allergie.designationAll" required />
</div>
<div>
    <label>Description :</label>
    <input [(ngModel)]="allergie.descriptionAll" required />
</div>
<div>
    <label>Date apparition :</label>
    <input type="date" [(ngModel)]="allergie.dateAppAll" required/>
</div>
<div>
    <label>Allergie en cours :</label>
    <input type="checkbox" [(ngModel)]="allergie.etatAll" >
</div>



<button (click)="ajouterAllergie(allergie)">OK</button>


<div *ngIf="messageKO">
    <alert type="danger" [dismissOnTimeout]="2000">{{ messageKO }}</alert>
</div>

<div *ngIf="messageOK">
    <alert type="success" [dismissOnTimeout]="2000">{{ messageOK }}</alert>
</div>
