<h2>Ajouter une Maladie au patient</h2>
<div>
    <label>Dossier :{{dossierMedical.idDos}}</label>

</div>

<div>
    <label>Designation :</label>
    <input [(ngModel)]="maladie.designationMal"  required/>

</div>
<div>
    <label>Description :</label>
    <input [(ngModel)]="maladie.descriptionMal"  required/>
</div>
<div>
    <label>Date apparition :</label>
    <input  [(ngModel)]="maladie.dateAppMal"  required/>
</div>


<button (click)="ajouterMaladie(maladie)">OK</button>



<div *ngIf="messageKO">
    <alert type="danger" [dismissOnTimeout]="2000">{{ messageKO }}</alert>
</div>

<div *ngIf="messageOK">
    <alert type="success" [dismissOnTimeout]="2000">{{ messageOK }}</alert>
</div>
