<div id="medecin" *ngIf="medecin">
    <h1>Page de démarrage du medecin</h1>
    <p>Bonjour Docteur {{medecin.nomMed}} {{medecin.prenomMed}}</p>
    <div>
        Vous êtes authentifié !

    </div>


    <div id="patients">
        Voici tous vos patients :
        <ul>
            <li  *ngFor="let patient of patients" (click)="onSelect(patient)">
                <div>Id Patient: {{ patient.idPat }}
                     Nom: {{ patient.nomPat }}
                     Prenom:{{ patient.prenomPat }}
                     email: {{ patient.emailPat }}
                     Mdp:{{ patient.mdpPat }}
                     Id Medecin: {{ medecin.idMed }}
                </div>
            </li>
        </ul>

        <div id="dossierMedical">
        <dossierMedical *ngIf="patientSelectionne" [patient]="patientSelectionne"></dossierMedical>
        </div>

</div>

</div>

<div class="form-group">
    <button [routerLink]="['/login']" class="btn btn-primary">Logout</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
