
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    </head>

<body>


<button type="button" class="btn btn-primary" id="bouton-ajout-medecin" href="#right-panel"> <span class="glyphicon glyphicon-cog"></span>Ajouter un medecin</button>
<button type="button" class="btn btn-primary" id="bouton-ajout-patient" href="#right-panel"> <span class="glyphicon glyphicon-cog"></span>Ajouter un patient</button>


    <button id="logout" [routerLink]="['/login']" class="btn btn-primary">Logout</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />



<div id="medecin" *ngIf="medecin">

    <h3>Bonjour Docteur {{medecin.nomMed}} {{medecin.prenomMed}}</h3>



    <div id="patients">
        Voici tous vos patients :

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Chercher par nom..">
<div class="table table-bordered" >
        <table id="myTable1" class="table table-hover">
            <tr class="header">

                <th style="width:5%;">Id</th>
                <th   style="width:50%;">Nom</th>
                <th   style="width:50%;">Prenom</th>
                <th   style="width:50%;">email</th>
                <th   style="width:45%;">mdp</th>

            </tr>

            <tr id="patient"  *ngFor="let patient of patients" (click)="onSelect(patient)" (dblclick)="lgModal.show()">


                <td>{{ patient.idPat }}</td>
                <td>{{ patient.nomPat }}</td>
                <td>{{ patient.prenomPat }}</td>
                <td>{{ patient.emailPat }}</td>
                <td>{{ patient.mdpPat }}</td>


            </tr>

        </table>
</div>



        <!-- <div id="detailPatient">
            <patient-detail *ngIf="patientSelectionne" [patient]="patientSelectionne"></patient-detail>
        </div> -->

        <div id="dossierMedical">
        <dossierMedical *ngIf="patientSelectionne" [patient]="patientSelectionne"></dossierMedical>
        </div>



        <!--Large modal-->
       <!-- <button class="btn btn-primary" (click)="lgModal.show()">Detail-patient</button>-->

        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Detail-patient</h4>
                        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="detail" *ngIf="patientSelectionne">

                            <div>
                                <label>id2 :</label>
                                <input [(ngModel)]="patientSelectionne.idPat" />
                            </div>
                            <div>
                                <label>Nom:</label>
                                <input [(ngModel)]="patientSelectionne.nomPat" />
                            </div>
                            <div>
                                <label>Prenom:</label>
                                <input [(ngModel)]="patientSelectionne.prenomPat" />
                            </div>
                            <div>
                                <label>email:</label>
                                <input [(ngModel)]="patientSelectionne.emailPat" />
                            </div>
                            <div>
                                <label>mdp:</label>
                                <input [(ngModel)]="patientSelectionne.mdpPat" />
                            </div>


                              </div>

                    </div>
                </div>
            </div>
        </div>







</div>

    </div>
</body>
</html>