


<div class="container full-width">
    <div class="row">

        <div id="vaccins" *ngIf="dossierMedical">
            <h2>Vaccins du patient</h2>



            <button class="btn btn-primary" (click)="lgModal1.show()"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-primary" (click)="getVaccinsArchives();lgModal4.show()">Vaccins Archivés</button>

            <div class="table-responsive" >
                <div class="table table-bordered" >
                    <div class="pre-scrollable  " >

                        <table id="myTable4" class="table table-hover">
                            <tr class="header">

                                <th  onclick="sortTable(0,4)" style="width:5%;">Id</th>
                                <th  onclick="sortTable(1,4)" style="width:50%;">Designation</th>
                                <th  onclick="sortTable(2,4)" style="width:50%;">Description</th>
                                <th  onclick="sortTable(3,4)" style="width:50%;">Date dernier vaccin</th>
                                <th  onclick="sortTable(4,4)" style="width:45%;">Date prochain vaccin</th>
                                <th  onclick="sortTable(5,4)" style="width:45%;">Date création</th>
                                <th  onclick="sortTable(6,4)" style="width:45%;">Alerte patient</th>
                                <th  onclick="sortTable(7,4)" style="width:45%;">Alerte medecin</th>
                                <th><span class="glyphicon glyphicon-trash"></span></th>



                            </tr>

                            <tr id="vaccin"   *ngFor="let vaccin of vaccins"(click)="onSelect(vaccin)" (dblclick)="resetMessage();lgModal2.show()">


                                <td>{{ vaccin.idVac }}</td>
                                <td>{{ vaccin.nomVac  }}</td>
                                <td>{{ vaccin.descriptionVac }}</td>
                                <td>{{ vaccin.dateDernierVac  }}</td>
                                <td>{{vaccin.dateProchainVac }}</td>
                                <td>{{vaccin.dateCreationVac}}</td>
                                <td>{{vaccin.alertePatientVac}}</td>
                                <td>{{vaccin.alerteMedecinVac}}</td>



                                <td>  <button class="btn btn-primary" (click)="onSelect(vaccin);lgModal3.show()"><span class="glyphicon glyphicon-trash"></span></button></td>



                            </tr>

                        </table>
                    </div>
                </div>

            </div>

            <!--Large modal-->


            <div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog"  [config]="{backdrop: 'static'} " aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Detail-Vaccin</h4>
                            <button type="button" class="close pull-right" (click)="lgModal2.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="detail" *ngIf="vaccinSelectionne">


                                <div>
                                    <label>ID : {{vaccinSelectionne.idVac}}</label>

                                </div>
                                <label>Nom du vaccin:</label>
                                <select [(ngModel)]="vaccinModelSelectionne" (change)="onSelect2(vaccin)">
                                    <option *ngFor="let vaccin of vaccinsModel" [ngValue]="vaccin">
                                        {{vaccin.nom}}
                                    </option>
                                </select>

                                 <div>
                                    <label>Description:</label>
                                    <input [(ngModel)]="descriptionVaccin" required />
                                </div>

                                <div>
                                    <label>Date du dernier vaccin:</label>
                                    <input type="date" [(ngModel)]="dateDernierVaccin" required />
                                </div>

                                <div>
                                    <label>Date du prochain vaccin:</label>
                                    <input type="date" [(ngModel)]="dateProchainVaccin" required />
                                </div>

                                <div>
                                    <label>Date de création: {{vaccin.dateCreationVac}}</label>

                                </div>
                                <div>
                                    <label><input  type="checkbox" name="isActiveAlertePatient" [(ngModel)]="alertePatientVaccin">Alert Patient</label>
                                </div>
                                <div>
                                    <label><input  type="checkbox" name="isActiveAlerteMdecin" [(ngModel)]="alerteMedecinVaccin">Alert Medecin</label>
                                </div>

                            </div>


                            <div *ngIf="!deleted">
                                <button class="btn btn-primary" (click)="UpdateVaccin()"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-primary" (click)="lgModal3.show()"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>

                            <div *ngIf="messageKO">
                                <alert type="danger" [dismissOnTimeout]="2000">{{ messageKO }}</alert>
                            </div>

                            <div *ngIf="messageOK">
                                <alert type="success" [dismissOnTimeout]="2000">{{ messageOK }}</alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Ajouter un vaccin</h4>
                            <button type="button" class="close pull-right" (click)="lgModal1.hide();getVaccins()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="ajoutVaccin">


                                <vaccin-creation *ngIf="dossierMedical" [dossierMedical]="dossierMedical"></vaccin-creation>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div bsModal #lgModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Archiver un vaccin</h4>
                            <button type="button" class="close pull-right" (click)="lgModal3.hide();getVaccins()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="archiveVaccin">


                                    <button class="btn btn-primary" (click)="ArchiveVaccin();DeleteVaccin();lgModal3.hide()">Oui</button>
                                    <button class="btn btn-primary" (click)="DeleteVaccin();lgModal3.hide()">Non</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div bsModal #lgModal4="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Archiver un vaccin</h4>
                            <button type="button" class="close pull-right" (click)="lgModal4.hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="vaccinsArchives">

                                <div class="table-responsive" >
                                    <div class="table table-bordered" >
                                        <div class="pre-scrollable  " >

                                            <table id="myTable5" class="table table-hover">
                                                <tr class="header">

                                                    <th  onclick="sortTable(0,5)" style="width:5%;">Id</th>
                                                    <th  onclick="sortTable(1,5)" style="width:50%;">Designation</th>
                                                    <th  onclick="sortTable(2,5)" style="width:50%;">Description</th>
                                                    <th  onclick="sortTable(3,5)" style="width:50%;">Date dernier vaccin</th>
                                                    <th  onclick="sortTable(4,5)" style="width:45%;">Date prochain vaccin</th>
                                                    <th  onclick="sortTable(5,5)" style="width:45%;">Date création</th>
                                                    <th  onclick="sortTable(5,5)" style="width:45%;">Date achivage</th>
                                                    <th  onclick="sortTable(6,5)" style="width:45%;">Alerte patient</th>
                                                    <th  onclick="sortTable(7,5)" style="width:45%;">Alerte medecin</th>
                                                    <th><span class="glyphicon glyphicon-trash"></span></th>

                                                </tr>

                                                <tr id="vaccinArchives"   *ngFor="let vaccin of vaccinsArchives">


                                                    <td>{{vaccin.idVac }}</td>
                                                    <td>{{vaccin.nomVac  }}</td>
                                                    <td>{{vaccin.descriptionVac }}</td>
                                                    <td>{{vaccin.dateDernierVac  }}</td>
                                                    <td>{{vaccin.dateProchainVac }}</td>
                                                    <td>{{vaccin.dateCreationVac}}</td>
                                                    <td>{{vaccin.dateArchivageVac}}</td>
                                                    <td>{{vaccin.alertePatientVac}}</td>
                                                    <td>{{vaccin.alerteMedecinVac}}</td>


                                                </tr>

                                            </table>
                                        </div>
                                    </div>

                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>